<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6lk9CVqgXC6IsmpzVfIigisHfuBilGbk</string>
	<key>GCM_SENDER_ID</key>
	<string>202402979155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vivek-sharma.mynotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mynotes-flutter-pp</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-flutter-pp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202402979155:ios:aba0fc2552de4f0f9a55a6</string>
</dict>
</plist>